<div _ngcontent-lcy-c56="" class="col-sm-6 ng-star-inserted">
<div _ngcontent-lcy-c56="" class="row">
<div _ngcontent-lcy-c56="" class="mr-auto">
<app-titulo _ngcontent-lcy-c56="" _nghost-lcy-c52="" ng-reflect-titulo="Cód. Aluno: 1"><h2 _ngcontent-lcy-c52=""> Cód. Aluno: 1</h2></app-titulo></div>
<div _ngcontent-lcy-c56="" class="mt-1"></div>
</div><form _ngcontent-lcy-c56="" novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-valid">
<div _ngcontent-lcy-c56="" class="form-group"><label _ngcontent-lcy-c56="" for="formGroupExampleInput">Nome</label>
  <input _ngcontent-lcy-c56="" type="text" formcontrolname="nome" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="nome"></div>
  <div _ngcontent-lcy-c56="" class="form-group"><label _ngcontent-lcy-c56="" for="formGroupExampleInput2">Sobrenome</label>
    <input _ngcontent-lcy-c56="" type="text" formcontrolname="sobrenome" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="sobrenome"></div>
    <div _ngcontent-lcy-c56="" class="form-group"><label _ngcontent-lcy-c56="" for="formGroupExampleInput2">Telefone</label>
      <input _ngcontent-lcy-c56="" type="text" formcontrolname="telefone" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="telefone"></div>
      <div _ngcontent-lcy-c56="" class="form-group"><hr _ngcontent-lcy-c56="">
        <button _ngcontent-lcy-c56="" class="btn btn-success">Enviar</button></div></form></div>
